html {
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
   }

body {
      background-color: transparent !important;
}

.btn {
  background-color: rgba(0, 134, 72, 0.52) !important;
  border-color: rgba(0, 0, 0, 0) !important;
  color: white;
}

table {
  width: 500px !important;
}

.top-menu {
width:600px;

}

.menu-elem {
	padding-top: 10px;
	width:500px;

}

.Social { padding-left: 6px;}
.Google { padding-left: 92px; }
.KPI { padding-left: 178px; }
.Front-end { padding-left: 264px; }